.logo {
  font-size: 30px; 
  font-weight: bold; 
  padding-left: 40px;
}

.container nav {
  display: flex;
  justify-content: flex-end;
  width: 100%; 
  z-index: 4;
}

.container nav ul {
  display: flex; 
  gap: 20px; 
  list-style: none;
  padding: 0;
}

.container nav ul li {
  padding: 5px 10px; 
  cursor: pointer; 
  font-size: 18px;
}

